
#imagembanner{
background-image: url(https://picsum.photos/680/720);
background-repeat: no-repeat;
width: 680px;
height: 680px;
padding: 100%, 50%;
box-sizing: border-box;
border-width: 5px;
border-style: solid;
border-color: rgb(156, 156, 156);
border-radius: 50px;
text-align: center;
margin-top: 5px;
margin-left: 5px;
position:sticky;
}

h1{
    color: rgba(18, 15, 207, 0.877);
    margin: 55px;
    font-size: 60px;
    
}

h2{
    color: rgba(103, 71, 207, 0.808);
    margin: 55px;
    font-size: 30px;
}

.botao{
    width: 100px;
    height: 100px;      
    color: blue;
    font-weight: 100;
    border-style: solid;
    border-color: rgb(175, 22, 22);
    border-radius: 50px;
    text-align: center;
    margin-top: 100px;
    margin-left: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-transform: capitalize;
    background-color: rgba(173, 115, 105, 0.908);  
}

