
  body::after{
    background-image: url(../img/santostime2.JFIF);
    background-repeat: no-repeat;
    background-size: cover;


        content: "";

        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-style:italic;
    color:rgb(16, 0, 31);
    padding: 20px;
    }

.formulario1{
    color: black;
    margin: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-style: italic;
    padding: 30px;
   }

textarea{
    color:blue;
    margin: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
    padding: 20px;
      
}

.coracaosantista{
    color:rgb(4, 12, 27);
    padding: 20px 10px;
}

.teste{
    size: 20px;
    color:black;
    font-weight: bold;
}

.icones {
    margin: 20px;
    width: 30px;
    height: 30px;
    background-position:left;
    }

.botao{
    padding: 10px 300px 2px;
}

.reset{
    color: crimson;
    border: dotted 2px blue;
}

.Dadospessoais{
    font-weight: bold;
}

