
.media-picture{color: chocolate;
       font-size: 22px;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lato:ital@1&family=Open+Sans:wght@300&family=Roboto:ital,wght@1,100&display=swap');


h2{
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;}

.media-picture{
    height: 200px;
    background-image: url(https://picsum.photos/800/300);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {

    color:rgb(87, 0, 128)
    ;
}

.titulo { font-size: 52px}

#saudacao { color :blue}

 p{color: black }

nav a {color:orange}

q {color:orange}

h2 { color: rgb(0, 128, 58) }

p { background-color: rgb(71, 114, 255); 
    font-family: 'Roboto', sans serif;
    padding: 10px;
   }

@import url('www.uol.com');

.elemento {
    font-family: 'roboto',sans-serif;
}

.destaque{
    background-color: rgb(104, 93, 45);
    padding: 15px;
}

*{

    margin: 10px;
}


footer{
    background-color: crimson;
    padding: 30px;
    background-position: center;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;}

/** comentarios
teste

fdfd/
